# {{ ansible_managed }}
BACKUP_PATH={{ restic_backup_path }}
BACKUP_EXCLUDES="--exclude-file {{ restic_config_dir }}/exclude --exclude-if-present .exclude_from_backup"
RESTIC_REPOSITORY={{ restic_repo }}
RESTIC_PASSWORD={{ restic_password }}
RETENTION_DAYS={{ restic_retention_days }}
RETENTION_WEEKS={{ restic_retention_weeks }}
RETENTION_MONTHS={{ restic_retention_months }}
RETENTION_YEARS={{ restic_retention_years }}
B2_ACCOUNT_ID={{ b2_application_key_id }}
B2_ACCOUNT_KEY={{ b2_application_key }}
